@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 0 0% 100%;
--foreground: 222 47% 11%;
--muted: 210 40% 96.1%;
--muted-foreground: 215 16% 47%;
--popover: 0 0% 100%;
--popover-foreground: 222 47% 11%;
--card: 0 0% 100%;
--card-foreground: 222 47% 11%;
--border: 214 32% 91%;
--input: 214 32% 91%;
--primary: 338 85% 60%;
--primary-foreground: 355 100% 97%;
--secondary: 183 74% 35%;
--secondary-foreground: 210 40% 98%;
--accent: 306 64% 40%;
--accent-foreground: 0 0% 100%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 222 47% 11%;
--radius: 0.5rem;
  }
  .dark {
      --background: 222 47% 11%;
--foreground: 210 40% 98%;
--muted: 217 33% 17%;
--muted-foreground: 215 20% 65%;
--popover: 222 47% 11%;
--popover-foreground: 210 40% 98%;
--card: 222 47% 11%;
--card-foreground: 210 40% 98%;
--border: 217 33% 17%;
--input: 217 33% 17%;
--primary: 338 85% 60%;
--primary-foreground: 355 100% 97%;
--secondary: 183 74% 35%;
--secondary-foreground: 210 40% 98%;
--accent: 306 64% 40%;
--accent-foreground: 0 0% 100%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--ring: 212 12% 75%;
--radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}